{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" value="Сервис учета студентов учебного заведения">

    <title>Сервис учета студентов</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- Header content -->
        <div id="header" class="row row-header">
            <div class="col-xs-8">
                <h1>Срвис учета студентов</h1>
            </div>
            <div id="group-selector" class="col-xs-4 group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
                    <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
                </select>
            </div>
        </div>
        <div id="sub-header" class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="/">Студенти</a></li>
                    <li role="presentation" class="active"><a href= {% url 'journals' %}>Відвідування</a></li>
                    <li role="presentation"><a href= {% url 'groups' %}>Групи</a></li>
                </ul>
            </div>
        </div><!--/ end Header content-->

        <!-- Main page content -->
        <div id="content-columns" class="row">
            <div id="content-column" class="col-xs-12">
                <div class="alert alert-warning block-notice">Изменения отменены</div>
                <h2>Облік Відвідування</h2>
                <div class="date-picker text-center">
                    <a href="#">&larr;</a>
                    <span>Жовтень 2016</span>
                    <a href="#">&rarr;</a>
                </div>
                <div>
                    <table class="table table-hover table-striped table-journals">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Студент</td>
                                <td><div>Ср</div>1</td>
                                <td><div>Чт</div>2</td>
                                <td><div>Пт</div>3</td>
                                <td><div>Сб</div>4</td>
                                <td><div>Вс</div>5</td>
                                <td><div>Пн</div>6</td>
                                <td><div>Вт</div>7</td>
                                <td><div>Ср</div>8</td>
                                <td><div>Чт</div>9</td>
                                <td><div>Пт</div>10</td>
                                <td><div>Сб</div>11</td>
                                <td><div>Вс</div>12</td>
                                <td><div>Пн</div>13</td>
                                <td><div>Вт</div>14</td>
                                <td><div>Ср</div>15</td>
                                <td><div>Чт</div>16</td>
                                <td><div>Пт</div>17</td>
                                <td><div>Сб</div>18</td>
                                <td><div>Вс</div>19</td>
                                <td><div>Пн</div>20</td>
                                <td><div>Вт</div>21</td>
                                <td><div>Ср</div>22</td>
                                <td><div>Чт</div>23</td>
                                <td><div>Пт</div>24</td>
                                <td><div>Сб</div>25</td>
                                <td><div>Вс</div>26</td>
                                <td><div>Пн</div>27</td>
                                <td><div>Вт</div>28</td>
                                <td><div>Ср</div>29</td>
                                <td><div>Чт</div>30</td>
                                <td><div>Пт</div>31</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="#">Student Name</a></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="11" ><label for="11" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="12" ><label for="12" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="13" ><label for="13" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="14" ><label for="14" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="15" ><label for="15" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="16" ><label for="16" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="17" ><label for="17" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="18" ><label for="18" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="19" ><label for="19" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="110"><label for="110" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="111"><label for="111" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="112"><label for="112" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="113"><label for="113" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="114"><label for="114" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="115"><label for="115" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="116"><label for="116" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="117"><label for="117" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="118"><label for="118" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="119"><label for="119" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="120"><label for="120" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="121"><label for="121" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="122"><label for="122" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="123"><label for="123" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="124"><label for="124" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="125"><label for="125" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="126"><label for="126" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="127"><label for="127" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="128"><label for="128" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="129"><label for="129" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="130"><label for="130" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="131"><label for="131" class="checkbox-students__unit"></label></div></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="#">Student Name</a></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="21" ><label for="21" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="22" ><label for="22" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="23" ><label for="23" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="24" ><label for="24" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="25" ><label for="25" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="26" ><label for="26" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="27" ><label for="27" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="28" ><label for="28" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="29" ><label for="29" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="210"><label for="210" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="211"><label for="211" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="212"><label for="212" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="213"><label for="213" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="214"><label for="214" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="215"><label for="215" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="216"><label for="216" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="217"><label for="217" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="218"><label for="218" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="219"><label for="219" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="220"><label for="220" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="221"><label for="221" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="222"><label for="222" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="223"><label for="223" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="224"><label for="224" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="225"><label for="225" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="226"><label for="226" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="227"><label for="227" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="228"><label for="228" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="229"><label for="229" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="230"><label for="230" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="231"><label for="231" class="checkbox-students__unit"></label></div></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="#">Student Name</a></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="31" ><label for="31" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="32" ><label for="32" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="33" ><label for="33" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="34" ><label for="34" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="35" ><label for="35" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="36" ><label for="36" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="37" ><label for="37" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="38" ><label for="38" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="39" ><label for="39" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="310"><label for="310" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="311"><label for="311" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="312"><label for="312" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="313"><label for="313" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="314"><label for="314" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="315"><label for="315" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="316"><label for="316" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="317"><label for="317" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="318"><label for="318" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="319"><label for="319" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="320"><label for="320" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="321"><label for="321" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="322"><label for="322" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="323"><label for="323" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="324"><label for="324" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="325"><label for="325" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="326"><label for="326" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="327"><label for="327" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="328"><label for="328" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="329"><label for="329" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="330"><label for="330" class="checkbox-students__unit"></label></div></td>
                                <td><div class="checkbox-students"><input type="checkbox" id="331"><label for="331" class="checkbox-students__unit"></label></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div><!--/ end Main page content -->

        <!-- Footer content -->
        <div id="footer" class="row">
            <div class="col-xs-12">
                &copy; 2014 - 2017 Сервис Учета Студентов
            </div>
        </div><!--/ end Footer content -->
    </div><!--/ end container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>