{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" value="Сервис учета студентов учебного заведения">

    <title>Сервис учета студентов</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- Header content -->
        <div id="header" class="row row-header">
            <div class="col-xs-8">
                <h1>Срвис учета студентов</h1>
            </div>
            <div id="group-selector" class="col-xs-4 group-selector">
                <strong>Група:</strong>
                <select>
                    <option value="">Усі Студенти</option>
                    <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
                    <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
                </select>
            </div>
        </div>
        <div id="sub-header" class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="/">Студенти</a></li>
                    <li role="presentation"><a href= {% url 'journals' %}>Відвідування</a></li>
                    <li role="presentation"><a href= {% url 'groups' %}>Групи</a></li>
                </ul>
            </div>
        </div><!--/ end Header content-->

        <!-- Main page content -->
        <div id="content-columns" class="row">
            <div id="content-column" class="col-xs-12">
                <div class="alert alert-warning block-notice">Изменения отменены</div>
                <h2>База студентов</h2>
                <a href= {% url 'students_add' %} class="btn btn-primary">Добавить студента</a>
                <div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><a href="#">№</a></th>
                                <th>Фото</th>
                                <th><a href="#">Фамилия &uarr;</a></th>
                                <th><a href="#">Имя</a></th>
                                <th><a href="#">№ билета</a></th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img class="img-circle" height="30" width="30" src="{% static 'img/student.jpeg' %}" alt="Фото студента"></td>
                                <td><a title="редактировать" href= {% url 'students_edit' 1 %}>Корост</a></td>
                                <td><a title="редактировать" href= {% url 'students_edit' 1%} >Андрей</a></td>
                                <td>2123</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Действия
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/journal/1">Посещения</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/students/1/edit">Редактировать</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/students/1/delete">Удалить</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img class="img-circle" height="30" width="30" src="{% static 'img/student.jpeg' %}" alt="Фото студента"></td>
                                <td><a title="редактировать" href="#">Петров</a></td>
                                <td><a title="редактировать" href="#">Игорь</a></td>
                                <td>2003</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Действия
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Посещения</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редактировать</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Удалить</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><img class="img-circle" height="30" width="30" src="{% static 'img/student.jpeg' %}" alt="Фото студента"></td>
                                <td><a title="редактировать" href="#">Иванов</a></td>
                                <td><a title="редактировать" href="#">Петр</a></td>
                                <td>200</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Действия
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Посещения</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Редактировать</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Удалить</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!--/ end Main page content -->

        <!-- Footer content -->
        <div id="footer" class="row">
            <div class="col-xs-12">
                &copy; 2014 - 2017 Сервис Учета Студентов
            </div>
        </div><!--/ end Footer content -->
    </div><!--/ end container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>